body {
    margin: 0;
    overflow: hidden;
    background-image: url("vDayImage.png");
    background-size: 1300px;
}

.container {
    text-align: center;
    background: rgb(255, 192, 203, .80);
    opacity: 1px;
    padding: 50px;
    font-family: 'Arial', sans-serif;
    color: red;
}

#heart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4d4d; /* Red heart color */
    transform: rotate(-45deg);
    animation: fall 3s linear infinite;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4d4d; /* Red heart color */
    border-radius: 50%;
}

.heart::before {
    top: -10px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 10px;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(-45deg);
        opacity: 0;
    }
}
